<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.blog.dao.BPostMapper">
    <!--  -->
    <resultMap id="bPost" type="cc.mrbird.febs.blog.entity.BPost">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="body" jdbcType="VARCHAR" property="body"/>
    </resultMap>
</mapper>
